::ng-deep .mat-mdc-form-field {
  width: 100%;
}

.titleIonSetting1 {
  margin-top: 25px;
}
.code {
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 3px;
  font-size: 85%;
  margin: 0;
  padding: 0.2em 0.4em;
}
section > div {
  margin-bottom: 15px;
}

@media only screen and (max-width: 600px) {
  /* Styles for smaller screens (e.g., phones) */
}
