// .signup-form {
//     width: 300px
// }
mat-form-field {
  width: 100%;
}

.formTitle {
  display: flex;
  text-align: center;
}
.titleIonSetting1 {
  margin-top: 25px;
}

//For Snackbar
.enhanced-snackbar {
  color: #ffffff;
  background: #2196f3;  /* A bright blue background */
  border: 2px solid #ffffff;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(33, 150, 243, 0.8);  /* Glowing effect */
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(33, 150, 243, 0.7);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(33, 150, 243, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(33, 150, 243, 0);
  }
}

.enhanced-snackbar {
  animation: pulse 2s infinite;
}

.mat-simple-snackbar-action {
  color: #ffffff;
}