<ion-header>
  <ion-toolbar class="titleIonSetting1">
    <ion-buttons slot="end">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Set New Password</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form
    style="margin-bottom: 50px"
    [formGroup]="setnewpasswordform"
    (ngSubmit)="onFormSubmit()"
  >
    <mat-card class="cardForm" fxLayout="column" fxLayoutAlign="center">
      <mat-form-field>
        <mat-label>OTP</mat-label>
        <input
          matInput
          required
          formControlName="otp"
          placeholder="OTP"
          type="number"
        />
        <mat-error *ngIf="!setnewpasswordform.get('otp').valid"
          >Please enter OTP</mat-error
        >
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          placeholder="Password"
          [type]="hide ? 'password' : 'text'"
          formControlName="pwd"
          required
        />
        <mat-icon matSuffix (click)="hide = !hide">{{
          hide ? "visibility_off" : "visibility"
        }}</mat-icon>
        <mat-hint *ngIf="!setnewpasswordform.get('pwd').valid"
          >Enter your password</mat-hint
        >
      </mat-form-field>

      <button
        type="submit"
        mat-raised-button
        color="primary"
        [disabled]="!setnewpasswordform.valid"
      >
        Submit
      </button>
    </mat-card>
  </form>
</ion-content>
