/* src/app/launch-screen/launch-screen.page.scss */
.launch-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  