<ion-header>
  <ion-toolbar class="titleIonSetting1">
    <ion-buttons slot="end">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title> Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form
    style="margin-bottom: 50px"
    [formGroup]="forgotpwdform"
    (ngSubmit)="onFormSubmit()"
    #forgotPasswordForm="ngForm"
  >
    <mat-card class="cardForm" fxLayout="column" fxLayoutAlign="center">
      <mat-form-field hintLabel="">
        <mat-label position="stacked">Mobile (Required)</mat-label>
        <input
          type="number"
          matInput
          placeholder="Your Phone No"
          formControlName="phoneno"
          required
          type="text"
          maxlength="10"
          pattern="[1-9]{1}[0-9]{9}"
        />
        <mat-error *ngIf="!forgotpwdform.get('phoneno').valid"
          >Please enter 10 digits</mat-error
        >
        <!-- <mat-hint align="end">{{pwInput.value?.length}} / 10</mat-hint> -->
      </mat-form-field>
      <button
        type="submit"
        mat-raised-button
        color="primary"
        expand="block"
        [disabled]="!forgotpwdform.valid"
      >
        Submit
      </button>
      <div *ngIf="gotError">{{ failMessage }}</div>
    </mat-card>
  </form>
</ion-content>
