.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert {
    position: absolute;
    top: 28px;
    right: 0;
    padding: 14px;
    z-index: 8;
    border-radius: 6px;
}