* {
  margin: 0 0 !important;
}

.fs {
  font-size: 9px;
  margin: 0 0px;
}

#nameLabel {
  margin-left: 10px;
}

#nameData {
  padding-left: 10px !important;
  width: 100px;
}

#dateLabel {
  padding-left: 05px !important;
}

#dateData {
  padding: 0 0 0 0 !important;
  border-left: 10px;
  margin-left: 30px;
}

#typeLabel {
  padding: 0 0 0 0px;
}
#typeData {
  padding: 0 0 0 0 !important;
  text-align: right;
}

#rType {
  margin: 0 0 !important;
  padding: 0 0 0 0 !important;
  border-left: 0;
}

#amtLabel {
  padding: 0 0 0 0 !important;
}

#amtData {
  padding: 0 !important;
  margin: 0 !important;
}

.mat-row:nth-child(even) {
  background-color: #f8dec1;
}

.mat-row:nth-child(odd) {
  background-color: #fcfaf9;
}

.mat-card {
  padding: 4px !important;
}

.mat-form-field-wrapper {
  padding: 0px;
}

.endDate {
  padding: 0px !important;
}

//

#brandColor {
  background: linear-gradient(
    0deg,
    rgb(246, 239, 250) 0%,
    rgb(246, 239, 250) 70%,
    #c47ef7 30%,
    #9506fc 90%
  ) !important;
}

#pastorName {
  font-size: 18 !important;
  padding-left: 20px;
  margin-right: 30px;
  text-align: left;
}

#designation {
  font-size: 9px !important;
  padding: 0 !important;
  color: #c47ef7;
}

#phoneNo {
  padding-right: 0px !important;
}

.mat-header-cell:first-of-type {
  padding: 9px !important;
}

.mat-column-desig {
  font-size: 14px;
  padding-left: 3px;
  margin-right: 0px;
  text-align: center;

  white-space: unset !important;
  flex: 0 0 32% !important;
  width: 28% !important;
}

.mat-column-phoneno {
  display: none;
}

.decorative-popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: white;
}
h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}
p {
  font-size: 18px;
  margin-bottom: 20px;
}
button {
  margin-top: 20px;
}

.titleIonSetting1 {
  margin-top: 24px !important;
}
