<!-- <ion-header>
    <ion-toolbar class="titleIonSetting1">
        <ion-buttons slot="end">
            <ion-back-button class="back-btn"></ion-back-button>
        </ion-buttons>
        <ion-title>
            My Profile
        </ion-title>
    </ion-toolbar>
</ion-header> -->
<ion-header>
    <ion-toolbar class="titleIonSetting1">
        <ion-title class="text-ionicBlue">Profile</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pastors Report" refreshingSpinner="circles"
            refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>
    <div class="flex-container">
        <div class="column2">
            <div class="container userBanner ">
                <div class="profileInfo"><br>
                    <div><img src="{{url}}" alt="img"><br><br></div><br>
                    <div class="pastorName">Name: {{displayName}}</div><br>
                    <div class="desig">Designation: {{designation}}</div><br>
                    <div class="phoneNo">Phone: {{phoneNumber}} </div><br><br>
                </div>
            </div>
        </div>
        </div>
        <div class="example-button-row" style="text-align: right;margin: 10px;">
            <button mat-raised-button color="primary">
                <a mat-list-item routerLink="/pastoreport" class="nItem" style="text-decoration: none; color:black">
                    <span id="myGivingsBtn">My Givings</span>
                </a>
            </button>
        </div>
</ion-content>