.slide-img {
  //  height: calc(100vh - 120px);
  height: calc(100vh - 260px);
  margin: 0 auto;
  display: block;
  // padding: 12px 30px;
  padding: 12px 12px;
  transition: transform 0.3s ease;
}

.titleIonSetting1 {
  margin-top: 24px;
}
